/* seantis.dir.events */

.directoryMarker {
     right: 5px;   
}

#landingPageIntro {
    margin: 15px 0 30px 0;
}

#directoryResultList {
    width: 40%;
    float: left;
    min-width: 300px;
    margin-right: 3%;
}

#directoryResultList div:first-child {
    border-top: none;   
}

#directoryResultMap {
    width: 42%;
    float: left;
    min-width: 300px;
}

.directoryDates {
    width: 13%;
    float: left;
    min-width: 100px;
    margin: 15px 15px 0 0;
}

.directoryDates h3 {
   background-color: #efefef;
   margin: -15px 5px 0 -10px;
   padding-left: 10px;
}

.directoryDates a {
    display: block;
    margin: 0 5px -2px -10px;
    padding: 4px 0 2px 10px;
    border: none !important;
}

.directoryDates a.selected, 
#content .directoryDates a:hover {
    background-color: #feff9a;
    color: black !important;
    border-radius: 2px;
}

#content .directoryDates ul {
    list-style-type: none;
}

#content .directoryDates ul li {
    margin-left: -25px;
}

.events .eventdate span {
    font-weight: bold;
    color: white;
    background-color: #195c90;
    padding: 2px 7px;
    border-radius: 2px;
}

.events .eventtags {
    font-size: 0.9em;
    line-height: 11px;
    margin-top: 4px;
    background-color: #ddd;
    display: inline;
    padding: 1px 4px;
    border-radius: 2px;
}

.events .short {
    font-weight: normal;
    font-size: 14px;
    color: #222;
    padding: 0 0 3px 0;
}

.events .long {
    font-size: 12px;   
    padding: 0 0 4px 0;
}

.events .event {
     float: left;
     width: 58%;   
}

.events .event-details {
     margin-top: 20px;   
}

.events .event-details h3 {
     font-size: 1em;
     color: #555;
}

.events .event-details > div {
    border: 1px solid #205c90;
    border-width: 0 0 0 10px;
    padding: 0 0 10px 10px
}

.events .event-details > div:last-child {
    padding-bottom: 5px;   
}

