/* seantis.dir.events */

.directoryMarker {
    right: 0;
}

#directoryResultList {
    float: left;
    width: 40%;
    min-width: 300px;
    margin-right: 3%;
}

#directoryResultMap {
    float: left;
    width: 38.8%;
    min-width: 300px;
}

.directoryDates {
    float: left;
    width: 15%;
    min-width: 100px;
    margin: 0 3% 0 0;
}

.directoryDates h3 {
   font-size: 14px;  
   padding: 4px 0 4px 10px;
   margin: 0 0 3px 0;
   border: 1px solid #afafaf;
   border-width: 1px 1px 1px 10px;
}

.directoryDates a {
    display: block;
    border: 1px solid #efefef !important;
    border-width: 1px 1px 1px 10px !important;
    padding: 5px;
}

.directoryDates a.selected, 
#content .directoryDates a:hover {
    color: black !important;
    border: 1px solid #0083be !important;
    border-width: 1px 1px 1px 10px !important;
}

.directoryDates a.selected {
    font-weight: bold;
}

#content .directoryDates ul {
    list-style-type: none;
}

#content .directoryDates ul li {
    margin-left: -25px;
}

.eventgroup {
    font-weight: bold;
    color: white;
    background-color: #195c90;
    padding: 2px 7px;
    border-radius: 2px;
}

.eventtags {
    font-size: 0.9em;
    line-height: 11px;
    margin-top: 4px;
    background-color: #ddd;
    display: inline;
    padding: 1px 4px;
    border-radius: 2px;
}

.eventtags-list {
    width: 50%;
    float:left;   
}

.timerange {
    float: right;
    color: #777;
    display: inline-block;
}